<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>资产--车辆详情</title>
    <link rel="stylesheet" href="/styles/vehicles/detail.css?v=20170901222619"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
</head>
<body>
<% include ../common/header.ejs %>

<div class="container clearfix">
    <% include ../common/aside_menu.ejs %>
    <div class="right-container fr">
        <div class="navigation">
            <a href="/" class="home_ico"></a>
            <em class="navigation_ico"></em>
            <a href="/vehicles" class="navigation_link">车辆列表</a>
            <em class="navigation_ico"></em>
            <span>车辆详情</span>
        </div>
        <div class="content">
            <div class="cont-title">
                <i></i>
                <span>车辆详情</span>
            </div>
            <div class="vehicle_detail">
                <div class="form-group clearfix">
                    <div class="form-group-rows">
                        <label>车辆类型：</label>
                        <% carType.forEach(function(item){%>
                        <%if(item.value == vehicles.type){%>
                        <span><%-item.name%></span>
                        <%}%>
                        <%})%>

                    </div>
                    <div class="form-group-rows">
                        <label>车辆类型：</label>
                        <span><%-vehicles.brand + ' ' + vehicles.series + ' ' + vehicles.model%></span>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <div class="form-group-rows">
                        <label>车牌号：</label>
                        <span><%-vehicles.plate_number%></span>
                    </div>
                    <div class="form-group-rows">
                        <label>车架号：</label>
                        <span><%-vehicles.vin%></span>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <div class="form-group-rows">
                        <label>发动机号：</label>
                        <span><%-vehicles.engine_number%></span>
                    </div>
                    <div class="form-group-rows">
                        <label>出厂日期：</label>
                        <span><%-vehicles.production_day%></span>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <div class="form-group-rows">
                        <label>颜色：</label>
                        <span><%-colorList[vehicles.color].name%></span>
                    </div>
                    <div class="form-group-rows">
                        <label>排量：</label>
                        <span><%-vehicles.displacement%></span>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <div class="form-group-rows">
                        <label>变速：</label>
                        <span>小型汽车</span>
                    </div>
                    <div class="form-group-rows">
                        <label>驱动类型：</label>
                        <span><%-driverType[vehicles.driver_type].name%></span>
                    </div>
                </div>
            </div>
        </div>
        <% include ../common/footer.ejs%>
    </div>
</div>
<script type="text/javascript" src="/dist/scripts/vehicles/detail.js?v=20170901222619"></script>
</body>
</html>

