<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>借款人列表</title>
    <link rel="stylesheet" href="/styles/vehicles/index.css"/>
</head>
<body>

<% include ../common/header.ejs %>

<div class="container clearfix">
    <% include ../common/aside_menu.ejs %>
    <div class="right-container fr">
        <div class="navigation">
            <a href="/" class="home_ico"></a>
            <em class="navigation_ico"></em>
            <span>车辆列表</span>
        </div>
        <div class="content" id="app">
            <div class="cont-title">
                <i></i>
                <span>车辆列表</span>
            </div>

            <div class="search">
              <form id="form">
                <div class="search_wraper clearfix">
                  <div class="list_item">
                    <div class="search_item">
                        <label>车架号</label>
                        <input type="text" class="user-ui-input" v-model="params.vin" placeholder="请输入车架号"/>
                    </div>
                    <div class="search_item">
                        <label>姓名</label>
                        <input type="text" class="user-ui-input" v-model="params.name" placeholder="请输入姓名"/>
                    </div>
                    <div class="search_item">
                        <label>注册时间</label>
                        <div class="user-ui-calendar">
                            <input type="text" class="user-ui-input" readonly="readonly" v-model="params.from" id="fromTime" placeholder="请输入开始时间"/>
                            <em>至</em>
                            <input type="text" class="user-ui-input" readonly="readonly" v-model="params.to" id="endTime" placeholder="请输入开始时间"/>
                        </div>
                    </div>
                  </div>
                  <div class="list_item">
                    <div class="search_item">
                        <label>标的状态</label>
                        <div class="drop_menu drop-menu-loan" :class="{'active':dropMenu == 3}">
                            <span @click.stop="selectValue(3)" v-cloak>{{loanStatus}}</span>
                            <ul class="drop_menu_list">
                                <% for(var attr in borrowingStatus) {%>
                                <li  @click="checkValue('status',<%-attr%>)"><a href="javascript:;"><%-borrowingStatus[attr].title%></a></li>
                                <%}%>
                            </ul>
                        </div>
                    </div>
                     <div class="search_item">
                        <label>GPS状态</label>
                        <div class="drop_menu drop-menu-loan" :class="{'active':dropMenu == 4}">
                            <span @click.stop="selectValue(4)" v-cloak>{{loanStatus}}</span>
                            <ul class="drop_menu_list">
                                <%subjectStatus.forEach(function(item){%>
                                <li @click="checkValue('type',<%-item.value%>)"><a href="javascript:;"><%-item.name%></a></li>
                                <%})%>
                            </ul>
                        </div>
                      </div>
                </div>
                </div>
                <div class="search_submit clearfix">
                    <button type="button" @click="query">查询</button>
                    <button type="reset" @click="reset">重置</button>
                </div>
              </form>
            </div>
            <div class="gps_btn">
               <button>一键刷新GPS状态</button>
            </div>
            <div class="list_container">
                <dl class="cont_list">
                    <dt>
                        <span class="vehicles_vin">车架号</span>
                        <span class="vehicles_name">借款人</span>
                        <span class="vehicles_times">添加时间</span>
                        <span class="vehicles_status">标的状态</span>
                        <span class="vehicles_subject">标的号</span>
                        <span class="vehicles_gps">GPS设备</span>
                        <span class="vehicles_gpsStatus">GPS状态</span>
                        <span>操作</span>

                    </dt>
                    <% if(vehiclesList && vehiclesList.length){%>
                        <%vehiclesList.forEach(function(item){%>
                        <dd>
                            <span class="vehicles_vin"><%-item.vin%></span>
                            <span class="vehicles_name"><%-item.borrower.name%></span>
                            <span class="vehicles_times"><%-item.created_at.toString().slice(0,-10)%></span>
                            <span class="vehicles_status">未上标</span>
                            <span class="vehicles_subject">216768014</span>
                            <div class="vehicles_gps">
                              <div class="drop_menu drop-menu-gps" :class="{'active':dropMenu == '<%-item.vin%>'}">
                                <span @click.stop="selectValue('<%-item.vin%>')" v-cloak>请选择</span>
                                <ul class="drop_menu_list">
                                    <li @click="checkValue('type',0)"><a href="javascript:;">全部</a></li>

                                    <li @click="checkValue('type',1)"><a href="javascript:;">异常</a></li>

                                    <li @click="checkValue('type',2)"><a href="javascript:;">预警</a></li>

                                    <li @click="checkValue('type',3)"><a href="javascript:;">无异常</a></li>
                                </ul>
                              </div>
                            </div>
                            <span class="vehicles_gpsStatus">GPS状态</span>
                            <span class="list_action">刷新GPS状态</span>

                        </dd>
                        <%})%>
                    <%}else{%>
                     <% include ../common/list_empty.ejs %>
                    <%}%>
                </dl>
            </div>
            <% if(vehiclesList && vehiclesList.length){%>
            <div class="pagination">
                <ul class="pagination_list">
                    <% include ../common/pagination.ejs %>
                </ul>
            </div>
            <%}%>
        </div>
        <% include ../common/footer.ejs %>
    </div>
</div>
<div class="ui-calendar" id="calendar"></div>
<script type="text/javascript" src="/dist/scripts/vehicles/index.js"></script>
</body>
</html>

