<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>借款人列表</title>
    <link rel="stylesheet" href="/styles/vehicles/index.css"/>
</head>
<body>

<% include ../common/header.ejs %>

<div class="container clearfix">
    <% include ../common/aside_menu.ejs %>
    <div class="right-container fr">
        <div class="navigation">
            <a href="/" class="home_ico"></a>
            <em class="navigation_ico"></em>
            <span>车辆列表</span>
        </div>
        <div class="content">
            <div class="cont-title">
                <i></i>
                <span>车辆列表</span>
            </div>

            <div class="search">
              <form id="form">
                <div class="search_wraper clearfix">

                    <div class="search_item">
                        <label>车架号</label>
                        <input type="text" class="user-ui-input" id="vin" placeholder="请输入车架号"/>
                    </div>
                    <div class="search_item">
                        <label>姓名</label>
                        <input type="text" class="user-ui-input" id="userName" placeholder="请输入姓名"/>
                    </div>
                    <div class="search_item">
                        <label>注册时间</label>
                        <div class="user-ui-calendar">
                            <input type="text" class="user-ui-input" readonly="readonly" id="fromTime" placeholder="请输入开始时间"/>
                            <em>至</em>
                            <input type="text" class="user-ui-input" readonly="readonly" id="endTime" placeholder="请输入开始时间"/>
                        </div>
                    </div>

                </div>
                <div class="search_submit clearfix">
                    <button type="button" class="js_query">查询</button>
                    <button type="reset" class="js_reset">重置</button>
                </div>
              </form>
            </div>
            <div class="list_container">
                <dl class="cont_list">
                    <dt>
                        <span class="vehicles_name">借款人</span>
                        <span class="vehicles_car">车型</span>
                        <span class="vehicles_vin">车架号</span>
                        <span class="vehicles_color">颜色</span>
                        <span>添加时间</span>
                    </dt>
                    <% if(vehiclesList && vehiclesList.length){%>
                        <%vehiclesList.forEach(function(item){%>
                        <dd>
                            <span class="vehicles_name"><%-item.borrower.name%></span>
                            <span class="vehicles_car"><%-item.model%></span>
                            <span class="vehicles_vin"><%-item.vin%></span>

                            <span class="vehicles_color"><%-colorList[item.color] && colorList[item.color].name%></span>
                            <span><%-item.created_at%></span>
                        </dd>
                        <%})%>
                    <%}else{%>
                     <% include ../common/list_empty.ejs %>
                    <%}%>
                </dl>
            </div>
            <% if(vehiclesList && vehiclesList.length){%>
            <div class="pagination">
                <ul class="pagination_list">
                    <% include ../common/pagination.ejs %>
                </ul>
            </div>
            <%}%>
        </div>
        <% include ../common/footer.ejs %>
    </div>
</div>
<div class="ui-calendar" id="calendar"></div>
<script type="text/javascript" src="/dist/scripts/vehicles/index.js"></script>
</body>
</html>

