<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <meta charset="utf-8">
    <title>新增车况</title>
    <link rel="stylesheet" href="/styles/borrowers/vehicle/list/add.css?v=201709080105623"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
</head>
<body>
<%include ../../../common/header.ejs%>
<div class="container clearfix">
    <% include ../../../common/aside_menu.ejs %>
    <div class="right-container fr">
        <div class="navigation">
            <a href="/" class="home_ico"></a>
            <em class="navigation_ico"></em>
            <a href="/borrowers" class="navigation_link">借款人列表</a>
            <em class="navigation_ico"></em>
            <a href="/borrowers/vehicle/list/<%-detailId%>" class="navigation_link">用户详情</a>
            <em class="navigation_ico"></em>
            <a href="/borrowers/vehicle/list/<%-vehicleId%>?id=<%-detailId%>" class="navigation_link">车况列表</a>
            <em class="navigation_ico"></em>
            <span>新增车况</span>

        </div>
        <div class="content">
            <div class="cont-title">
                <i></i>
                <span>新增车况</span>
            </div>
            <div class="vehicle_add">
                <div class="vehicle_tab_wraper clearfix">
                    <div class="vehicle_title">车辆属性</div>
                    <div class="vehicle_item">
                        <div class="form-group clearfix">
                            <div class="form-group-rows">
                                <label id="leather" data-value="">真皮内饰</label>
                                <% booleanOptions.forEach(function(item,index){%>
                                  <strong class="js_checked" data-value="<%-item.value%>" class="<%if(index==0){%>active<%}%>"><%-item.name%></strong>
                                <%})%>
                            </div>
                             <div class="form-group-rows">
                                <label id="sunroof" data-value="">天窗</label>
                                 <% booleanOptions.forEach(function(item,index){%>
                                   <strong class="js_checked" data-value="<%-item.value%>" class="<%if(index==0){%>active<%}%>"><%-item.name%></strong>
                                 <%})%>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="form-group-rows">
                                <label id="navigation" data-value="">导航</label>
                                <% booleanOptions.forEach(function(item,index){%>
                                  <strong class="js_checked" data-value="<%-item.value%>" class="<%if(index==0){%>active<%}%>"><%-item.name%></strong>
                                <%})%>
                            </div>
                            <div class="form-group-rows vehicles-base-input">
                                <label>总千瓦数</label>
                                <div class="user-ui-number">
                                  <input type="number" class="user-ui-input" id="kilowatt" placeholder="总千瓦数"/>
                                  <i class="user-ui-input-txt">千瓦</i>
                                </div>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="form-group-rows">
                                <label id="interior" data-value="">内饰状况</label>
                                <% interiorStatus.forEach(function(item,index){%>
                                   <strong class="js_checked" data-value="<%-item.value%>" class="<%if(index==0){%>active<%}%>"><%-item.name%></strong>
                                <%})%>
                            </div>
                            <div class="form-group-rows">
                                <label id="paint" data-value="">漆面状况</label>
                                <% surfaceStatus.forEach(function(item,index){%>
                                  <strong data-value="<%-item.value%>" class="js_checked" data-value="<%-item.value%>" class="<%if(index==0){%>active<%}%>"><%-item.name%></strong>
                                <%})%>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="form-group-rows">
                                <label>车牌价格</label>
                                <div class="user-ui-number">
                                    <input type="number" class="user-ui-input" id="licensePrice" placeholder="车牌价格"/>
                                    <i class="user-ui-input-txt">元</i>
                                </div>

                            </div>
                            <div class="form-group-rows vehicles-base-input">
                                <label>行驶里程</label>
                                <div class="user-ui-number">
                                  <input type="number" class="user-ui-input" id="mileage" placeholder="行驶里程"/>
                                   <i class="user-ui-input-txt">公里</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vehicle_tab_wraper clearfix">
                    <div class="vehicle_title">车辆信息</div>
                    <div class="vehicle_item">
                        <div class="form-group clearfix">
                            <div class="form-group-rows vehicle-ui-ico">
                                <label>购买时间</label>
                                <div class="user-ui-number">
                                  <input type="text" class="user-ui-input" readonly="readonly" id="buyTime" placeholder="购买时间"/>
                                  <i class="user-ui-input-txt"> &nbsp;</i>
                                </div>

                            </div>
                            <div class="form-group-rows vehicle-ui-ico">
                                <label>过户时间</label>
                                <input type="text" class="user-ui-input" readonly="readonly" id="transferTime" placeholder="过户时间"/>
                                <i class="user-ui-input-txt"> &nbsp;</i>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="form-group-rows vehicle-ui-ico">
                                <label>首次上牌日期</label>
                                <input type="text" class="user-ui-input" readonly="readonly" id="registrationTime" placeholder="首次上牌日期"/>
                                <i class="user-ui-input-txt"> &nbsp;</i>
                            </div>
                            <div class="form-group-rows vehicle-ui-ico">
                                <label>保单到期日</label>
                                <input type="text" class="user-ui-input" readonly="readonly" id="insuranceTime" placeholder="保单到期日"/>
                                <i class="user-ui-input-txt"> &nbsp;</i>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="form-group-rows">
                                <label id="purchaseType" data-value="">购买方式</label>
                                <%purchaseType.forEach(function(item){%>
                                  <strong class="js_checked js_loan" data-value="<%-item.value%>"><%-item.name%></strong>
                                <%})%>
                            </div>
                            <div class="form-group-rows">
                                <label>购买价格</label>
                                <div class="user-ui-number">
                                    <input type="number" class="user-ui-input" id="purchasePrice" placeholder="购买价格"/>
                                    <i class="user-ui-input-txt">元</i>
                                </div>

                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="form-group-rows">
                                <label>购车贷款金额</label>
                                <div class="user-ui-number">
                                    <input type="number" class="user-ui-input js_amount" id="loanAmount" placeholder="购车贷款金额"/>
                                    <i class="user-ui-input-txt">元</i>
                                </div>
                            </div>
                            <div class="form-group-rows">
                                <label>剩余未还金额</label>
                                <div class="user-ui-number">
                                    <input type="number" class="user-ui-input js_amount" id="loanPendingAmount" placeholder="剩余未还金额"/>
                                    <i class="user-ui-input-txt">元</i>
                                </div>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="form-group-rows">
                                <label>购车贷款总期数</label>
                                <div class="user-ui-number">
                                    <input type="number" class="user-ui-input js_amount" id="loanTerms" placeholder="购车贷款总期数"/>
                                    <i class="user-ui-input-txt">期</i>
                                </div>
                            </div>
                             <div class="form-group-rows">
                                <label>剩余未还期数</label>
                                 <div class="user-ui-number">
                                    <input type="number" class="user-ui-input js_amount" id="loanPendingTerms" placeholder="剩余未还期数"/>
                                    <i class="user-ui-input-txt">期</i>
                                </div>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="form-group-rows">
                                <label>历史抵押次数</label>
                                <div class="user-ui-number">
                                    <input type="number" class="user-ui-input" id="collateralTimes" placeholder="历史抵押次数"/>
                                    <i class="user-ui-input-txt">次</i>
                                </div>
                            </div>
                            <div class="form-group-rows">
                                <label>最近解抵押</label>
                                <div class="drop_menu drop_menu_mortgage">
                                    <span class="active js_select" data-value="<%-collateralLastFree[0].value%>" id="mortgageTime"><%-collateralLastFree[0].name%></span>
                                    <ul class="drop_menu_list">
                                     <%collateralLastFree.forEach(function(item){%>

                                        <li data-value="<%-item.value%>">
                                            <a href="javascript:;"><%-item.name%></a>
                                        </li>
                                     <%})%>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="form-group-rows">
                                <label id="claimsRecords" data-vlue="">是否有车险理赔记录</label>
                                <div class="vehicle_item_check">
                                    <% booleanOptions.forEach(function(item,index){%>
                                      <strong class="js_insurance" data-value="<%-item.value%>"><%-item.name%></strong>
                                    <%})%>
                                </div>

                                <input type="text" class="user-ui-input user-ui-explain" id="claimsAmount" placeholder="理赔金额"/>
                            </div>
                            <div class="form-group-rows">
                                <label>证件核查</label>
                                <div class="vehicle_checkbox_wraper vehicle_certificate" id="certificate">
                                  <%certificateType.forEach(function(item,index){%>
                                    <strong data-value="<%-item.value%>" class="js_checkbox vehicle_checkbox"><%-item.name%></strong>
                                  <%})%>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vehicle_tab_wraper clearfix">
                    <div class="vehicle_title">工况及性能说明</div>
                    <div class="vehicle_item">
                        <div class="form-group clearfix">
                            <div class="form-group-rows">
                                <label>起动机/转向助力</label>
                                <div class="vehicle_checkbox_wraper" id="starter" >
                                    <% starterStatus.forEach(function(item,index){%>
                                      <strong data-value="<%-item.value%>" class="<%if(index==0){%>js_multiple<%}else{%>js_multiple vehicle_checkbox<%}%>"><%-item.name%></strong>
                                    <%})%>
                                </div>

                            </div>
                            <div class="form-group-rows">
                                <label data-value="">发动机</label>
                                <div class="vehicle_checkbox_wraper" id="engine" >
                                    <%engineStatus.forEach(function(item,index){%>
                                      <strong data-value="<%-item.value%>" class="<%if(index==0){%>js_multiple<%}else{%>js_multiple vehicle_checkbox<%}%>"><%-item.name%></strong>
                                    <%})%>
                                </div>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="form-group-rows">
                                <label data-value="">变速器</label>

                                <div class="vehicle_checkbox_wraper" id="transmission">
                                    <% transmissionStatus.forEach(function(item,index){%>
                                      <strong data-value="<%-item.value%>" class="<%if(index==0){%>js_multiple<%}else{%>js_multiple vehicle_checkbox<%}%>"><%-item.name%></strong>
                                    <%})%>
                                </div>

                            </div>
                            <div class="form-group-rows">
                                <label>排气系统</label>
                                <div class="vehicle_checkbox_wraper" id="exhaust">
                                  <% exhaustStatus.forEach(function(item,index){%>
                                    <strong data-value="<%-item.value%>" class="<%if(index==0){%>js_multiple<%}else{%>js_multiple vehicle_checkbox<%}%>"><%-item.name%></strong>
                                  <%})%>
                                </div>

                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="form-group-rows">
                                <label id="electricalSystem" data-value="">电器系统/空调正常</label>
                                <div class="vehicle_item_check">
                                  <% booleanOptions.forEach(function(item,index){%>
                                    <strong class="js_disabled" data-value="<%-item.value%>"><%-item.name%></strong>
                                  <%})%>
                                </div>
                                <input type="text" class="user-ui-input user-ui-explain" id="electricalSystemDes" placeholder="电器系统/空调异常说明"/>
                            </div>
                            <div class="form-group-rows">
                                <label id="chassis" data-value="">底盘正常</label>
                                <div class="vehicle_item_check">
                                    <% booleanOptions.forEach(function(item,index){%>
                                    <strong class="js_disabled" data-value="<%-item.value%>"><%-item.name%></strong>
                                    <%})%>
                                </div>
                                <input type="text" class="user-ui-input user-ui-explain" id="chassisDes" placeholder="底盘异常说明"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vehicle_tab_wraper clearfix">
                    <div class="vehicle_title">评估</div>
                    <div class="vehicle_item">
                        <div class="form-group clearfix">
                            <div class="form-group-rows">
                                <label id="vehicleWork" data-value="">车辆综合状况</label>
                                <%isWorkOk.forEach(function(item,index){%>
                                  <strong class="js_checked" data-value="<%-item.value%>"><%-item.name%></strong>
                                <%})%>
                            </div>
                            <div class="form-group-rows">
                                <label>评估价格</label>
                                <div class="user-ui-number">
                                    <input type="text" class="user-ui-input" id="evaluatePrice" placeholder="评估价格"/>
                                    <i class="user-ui-input-txt">元</i>
                                </div>
                            </div>
                        </div>
                        <div class="form-group vehicle_run clearfix">
                           <label>整体运行说明</label>
                            <textarea id="summary" class="vehicle_run_des"></textarea>
                        </div>
                        <div class="modify-button clearfix">
                            <input type="hidden" id="vehicleId" value="<%-vehicleId%>"/>
                            <input type="hidden" id="detailId" value="<%-detailId%>"/>
                            <button class="btn_confirm js_submit">确认</button>
                            <button class="btn_cancel js_cancel">放弃</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <% include ../../../common/footer.ejs %>
    </div>
</div>
<div class="ui-calendar" id="calendar"></div>
<script type="text/javascript" src="/dist/scripts/borrowers/vehicle/list/add.js?v=201709080105623"></script>
</body>
</html>

