<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <meta charset="utf-8">
    <title>业务--电核</title>
    <link rel="stylesheet" href="/styles/business/phone/index.css?v=20170908112004"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
</head>
<body>
<%include ../../common/header.ejs%>
<div class="container clearfix">
    <% include ../../common/aside_menu.ejs %>
    <div class="right-container fr">
        <div class="navigation">
            <a href="/" class="home_ico"></a>
            <em class="navigation_ico"></em>
            <a href="/business" class="navigation_link">借款列表</a>
            <em class="navigation_ico"></em>
            <a href="/business/<%-detailId%>" class="navigation_link">借款详情</a>
            <em class="navigation_ico"></em>
            <span>电核</span>

        </div>
        <div class="content" id="app">
            <div class="cont-title">
                <i></i>
                <span>电核</span>
            </div>
            <div class="phone_cont">
                <div class="vehicle_info_title">
                    <div class="business_status">
                        <h4>本人</h4>
                    </div>
                </div>
                <div class="vehicle_info_wraper clearfix">
                    <div class="vehicle_item">
                        <div class="form-group clearfix">
                            <div class="form-group-rows" :class="{'form-group-error':(!isValidate && self.phone_auth === '')}">
                                <label>是否认证手机号</label>
                                <% booleanOptions.forEach(function(item){%>
                                  <strong :class="{'active':<%-item.value%> === self.phone_auth}" @click="checkValue('self','phone_auth',<%-item.value%>)"><%-item.name%></strong>
                                <%})%>
                            </div>
                            <div class="form-group-rows" :class="{'form-group-error':(!isValidate && self.other_liabilities === '')}">
                                <label>是否有其他负债/借款</label>
                                <% booleanOptions.forEach(function(item){%>
                                  <strong :class="{'active':<%-item.value%> === self.other_liabilities}" @click="checkValue('self','other_liabilities',<%-item.value%>)"><%-item.name%></strong>
                                <%})%>
                                <div class="form-group-loan">
                                    <input type="number" :disabled="self.other_liabilities != 1" :class="{'user-ui-disabled':self.other_liabilities != 1}" v-model="self.other_liabilities == 0?'':self.liabilities_amount" class="user-ui-input" placeholder="负债/借款金额元"/>
                                </div>

                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="form-group-rows" :class="{'form-group-error':(!isValidate && self.local_reg === '')}">
                                <label>是否本地户籍</label>
                                <% booleanOptions.forEach(function(item){%>
                                  <strong :class="{'active':<%-item.value%> === self.local_reg}" @click="checkValue('self','local_reg',<%-item.value%>)"><%-item.name%></strong>
                                <%})%>
                            </div>
                            <div class="form-group-rows" :class="{'form-group-error':(!isValidate && self.residence_time === '')}">
                                <label>本地居住时间请选择 </label>
                                <div class="drop_menu drop_menu_phone">
                                    <span class="js_select">请选择</span>
                                    <ul class="drop_menu_list">
                                      <% selfResidenceTime.forEach(function(item){%>
                                       <li @click="checkValue('self','residence_time',<%-item.value%>)">
                                         <a href="javascript:;"><%-item.name%></a>
                                       </li>
                                      <%})%>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="form-group-rows vehicles-base-input" :class="{'form-group-error':(!isValidate && self.apply_amount === '')}">
                                <label>申请金额</label>
                                <input type="number" placeholder="金额" v-model="self.apply_amount" class="user-ui-input user-ui-salary">
                                <i class="user-ui-input-txt">万元</i>
                            </div>
                            <div class="form-group-rows" :class="{'form-group-error':(!isValidate && self.apply_duration === '')}">
                                <label>申请期限</label>
                                <input type="text" placeholder="期限" v-model="self.apply_duration" class="user-ui-input user-ui-salary">
                                <i class="user-ui-input-txt">月</i>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="form-group-rows form-group-live" :class="{'form-group-error':(!isValidate && self.cohabitation.length == 0)}">
                                <label>共住情况</label>
                                <div class="vehicle_checkbox_wraper">
                                 <%livingConditions.forEach(function(item){%>
                                    <strong class="vehicle_checkbox" :class="{'active':self.cohabitation.indexOf('<%-item.value%>') > -1}" @click="checkboxValue('self','cohabitation','<%-item.value%>')"><%-item.name%></strong>
                                 <%})%>
                                </div>
                            </div>
                            <div class="form-group-rows form-group-live" :class="{'form-group-error':(!isValidate && self.know_loan.length == 0)}">
                                <label>知晓借款情况</label>
                                <div class="vehicle_checkbox_wraper">
                                    <%borrowingConditions.forEach(function(item){%>
                                    <strong class="vehicle_checkbox" :class="{'active':self.know_loan.indexOf('<%-item.value%>') > -1}" @click="checkboxValue('self','know_loan','<%-item.value%>')"><%-item.name%></strong>
                                    <%})%>
                                </div>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="form-group-rows" :class="{'form-group-error':(!isValidate && self.income.length == 0)}">
                              <label>收入情况</label>
                              <div class="form_income">

                                <i @click="checkboxValue('self','income','0')" :class="{'active':self.income.indexOf('0') > -1}"></i>
                                <input type="number" :class="{'user-ui-disabled':self.income.indexOf('0') <= -1}" :disabled="self.income.indexOf('0') <= -1" v-model="self.income.indexOf('0') <= -1 ? '': self.income_amount" placeholder="每月稳定收入" class="user-ui-input user-ui-salary">
                              </div>
                            </div>
                            <div class="form-group-rows" :class="{'form-group-error':(!isValidate && self.income.length == 0)}">
                                <div class="form_income">
                                    <i @click="checkboxValue('self','income','1')" :class="{'active':self.income.indexOf('1') > -1}"></i>
                                    <input type="number" :class="{'user-ui-disabled':self.income.indexOf('1') <= -1}" :disabled="self.income.indexOf('1') <= -1" v-model="self.income.indexOf('1') <= -1 ? '': self.pending_amount" placeholder="有应收账款, 项目待结算金额" class="user-ui-input user-ui-salary">
                                    <input type="number" :class="{'user-ui-disabled':self.income.indexOf('1') <= -1}" :disabled="self.income.indexOf('1') <= -1" v-model="self.income.indexOf('1') <= -1 ? '': self.pending_month" placeholder="预计结算周期" class="user-ui-input user-ui-salary">
                                </div>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="form-group-rows" :class="{'form-group-error':(!isValidate && self.income.length == 0)}">
                                <div class="form_noIncome">
                                    <i @click="checkboxValue('self','income','2')" :class="{'active':self.income.indexOf('2') > -1}"></i>
                                    <span>无固定稳定收入或待收账款</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="form-group-rows form-group-des" :class="{'form-group-error':(!isValidate && self.borrower_purpose === '')}">
                               <label>借款用途</label>
                               <textarea class="phone_des" v-model="self.borrower_purpose"></textarea>
                            </div>
                            <div class="form-group-rows form-group-des" :class="{'form-group-error':(!isValidate && self.payment_source === '')}">
                                <label>还款来源</label>
                                <textarea class="phone_des" v-model="self.payment_source"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vehicle_info_title">
                    <div class="business_status" :class="{'form-group-error':(!isValidate && rel.person === '')}">
                        <h4>直系亲属</h4>
                        <div class="drop_menu drop_menu_phone">
                            <span class="js_select">请选择</span>
                            <ul class="drop_menu_list">
                                <li v-for="item in relatives" @click="checkValue('rel','person',item.name + '  (电话: ' + item.mobile + ')')">
                                    <a href="javascript:;">{{item.name + '  (电话: ' + item.mobile + ')'}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="vehicle_info_wraper clearfix">
                  <div class="vehicle_item">
                      <div class="form-group clearfix">
                          <div class="form-group-rows form-group-ellipsis" :class="{'form-group-error':(!isValidate && rel.communication_barriers === '')}">
                              <label>普通话是否标准<br/>是否有沟通障碍</label>
                              <% booleanOptions.forEach(function(item){%>
                              <strong :class="{'active':<%-item.value%> === rel.communication_barriers}" @click="checkValue('rel','communication_barriers',<%-item.value%>)"><%-item.name%></strong>
                              <%})%>
                          </div>
                          <div class="form-group-rows" :class="{'form-group-error':(!isValidate && rel.live_together === '')}">
                              <label>是否共同居住</label>
                              <% booleanOptions.forEach(function(item){%>
                              <strong :class="{'active':<%-item.value%> === rel.live_together}" @click="checkValue('rel','live_together',<%-item.value%>)"><%-item.name%></strong>
                              <%})%>
                          </div>
                      </div>
                      <div class="form-group clearfix">
                          <div class="form-group-rows" :class="{'form-group-error':(!isValidate && rel.redial === '')}">
                              <label>接通电话是否要求重拨</label>
                              <% booleanOptions.forEach(function(item){%>
                              <strong :class="{'active':<%-item.value%> === rel.redial}" @click="checkValue('rel','redial',<%-item.value%>)"><%-item.name%></strong>
                              <%})%>
                          </div>
                          <div class="form-group-rows" :class="{'form-group-error':(!isValidate && rel.answer_status === '')}">
                              <label>基本信息回答情况</label>
                              <% answerStatus.forEach(function(item){%>
                              <strong :class="{'active':<%-item.value%> === rel.answer_status}" @click="checkValue('rel','answer_status',<%-item.value%>)"><%-item.name%></strong>
                              <%})%>
                          </div>
                      </div>
                      <div class="form-group clearfix">
                          <div class="form-group-rows" :class="{'form-group-error':(!isValidate && rel.know_loan === '')}">
                              <label>是否知晓借款</label>
                              <% booleanOptions.forEach(function(item){%>
                              <strong :class="{'active':<%-item.value%> === rel.know_loan}" @click="checkValue('rel','know_loan',<%-item.value%>)"><%-item.name%></strong>
                              <%})%>
                          </div>
                          <div class="form-group-rows" :class="{'form-group-error':(!isValidate && rel.agree_loan === '')}">
                              <label>是否同意本次借款</label>
                              <% booleanOptions.forEach(function(item){%>
                              <strong :class="{'active':<%-item.value%> === rel.agree_loan}" @click="checkValue('rel','agree_loan',<%-item.value%>)"><%-item.name%></strong>
                              <%})%>
                          </div>
                      </div>
                      <div class="form-group clearfix">
                          <div class="form-group-rows form-group-ellipsis" :class="{'form-group-error':(!isValidate && rel.other_liabilities === '')}">
                              <label>是否表露出借款人<br/>有其他外部负债信息</label>
                              <% booleanOptions.forEach(function(item){%>
                              <strong :class="{'active':<%-item.value%> === rel.other_liabilities}" @click="checkValue('rel','other_liabilities',<%-item.value%>)"><%-item.name%></strong>
                              <%})%>
                          </div>
                          <div class="form-group-rows" :class="{'form-group-error':(!isValidate && rel.other_liabilities === '')}">
                              <label>负债/借款金额</label>
                              <input type="number" :disabled="rel.other_liabilities != 1" :class="{'user-ui-disabled':rel.other_liabilities != 1}" v-model="rel.liabilities_amount" class="user-ui-input" placeholder="负债/借款金额元"/>
                          </div>
                      </div>
                  </div>
                </div>
                <div class="vehicle_info_title">
                    <div class="business_status" :class="{'form-group-error':(!isValidate && emer.person === '')}">
                        <h4>紧急联系人</h4>
                        <div class="drop_menu drop_menu_phone">
                            <span class="js_select">请选择</span>
                            <ul class="drop_menu_list">
                                <li v-for="item in emergencyContacts" @click="checkValue('emer','person',item.name + '  (电话: ' + item.mobile + ')')">
                                    <a href="javascript:;">{{item.name + '  (电话: ' + item.mobile + ')'}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="vehicle_info_wraper clearfix">
                    <div class="vehicle_item">
                        <div class="form-group clearfix">
                            <div class="form-group-rows form-group-ellipsis" :class="{'form-group-error':(!isValidate && emer.contact_frequency === '')}">
                                <label>近期联系频率</label>
                                <% emerContactFrequency.forEach(function(item){%>
                                <strong :class="{'active':<%-item.value%> === emer.contact_frequency}" @click="checkValue('emer','contact_frequency',<%-item.value%>)"><%-item.name%></strong>
                                <%})%>
                            </div>
                            <div class="form-group-rows" :class="{'form-group-error':(!isValidate && emer.gender === '')}">
                                <label>性别</label>
                                <% gender.forEach(function(item){%>
                                <strong :class="{'active':<%-item.value%> === emer.gender}" @click="checkValue('emer','gender',<%-item.value%>)"><%-item.name%></strong>
                                <%})%>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="form-group-rows" :class="{'form-group-error':(!isValidate && emer.redial === '')}">
                                <label>接通电话是否要求重拨</label>
                                <% booleanOptions.forEach(function(item){%>
                                <strong :class="{'active':<%-item.value%> === emer.redial}" @click="checkValue('emer','redial',<%-item.value%>)"><%-item.name%></strong>
                                <%})%>
                            </div>
                            <div class="form-group-rows" :class="{'form-group-error':(!isValidate && emer.answer_status === '')}">
                                <label>基本信息回答情况</label>
                                <% answerStatus.forEach(function(item){%>
                                <strong :class="{'active':<%-item.value%> === emer.answer_status}" @click="checkValue('emer','answer_status',<%-item.value%>)"><%-item.name%></strong>
                                <%})%>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="form-group-rows" :class="{'form-group-error':(!isValidate && emer.know_loan === '')}">
                                <label>是否知晓借款</label>
                                <% booleanOptions.forEach(function(item){%>
                                <strong :class="{'active':<%-item.value%> === emer.know_loan}" @click="checkValue('emer','know_loan',<%-item.value%>)"><%-item.name%></strong>
                                <%})%>
                            </div>
                            <div class="form-group-rows" :class="{'form-group-error':(!isValidate && emer.same_city === '')}">
                                <label>在同一地级市</label>
                                <% booleanOptions.forEach(function(item){%>
                                <strong :class="{'active':<%-item.value%> === emer.same_city}" @click="checkValue('emer','same_city',<%-item.value%>)"><%-item.name%></strong>
                                <%})%>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vehicle_info_title">
                    <div class="business_status" :class="{'form-group-error':(!isValidate && fri.person === '')}">
                        <h4>朋友</h4>
                        <div class="drop_menu drop_menu_phone">
                            <span class="js_select">请选择</span>
                            <ul class="drop_menu_list">
                                <li v-for="item in friends" @click="checkValue('fri','person',item.name + '  (电话: ' + item.mobile + ')')">
                                    <a href="javascript:;">{{item.name + '  (电话: ' + item.mobile + ')'}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="vehicle_info_wraper clearfix">
                    <div class="vehicle_item">
                        <div class="form-group clearfix">
                            <div class="form-group-rows form-group-ellipsis" :class="{'form-group-error':(!isValidate && fri.contact_frequency === '')}">
                                <label>近期联系频率</label>
                                <% emerContactFrequency.forEach(function(item){%>
                                <strong :class="{'active':<%-item.value%> === fri.contact_frequency}" @click="checkValue('fri','contact_frequency',<%-item.value%>)"><%-item.name%></strong>
                                <%})%>
                            </div>
                            <div class="form-group-rows" :class="{'form-group-error':(!isValidate && fri.gender === '')}">
                                <label>性别</label>
                                <% gender.forEach(function(item){%>
                                <strong :class="{'active':<%-item.value%> === fri.gender}" @click="checkValue('fri','gender',<%-item.value%>)"><%-item.name%></strong>
                                <%})%>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="form-group-rows" :class="{'form-group-error':(!isValidate && fri.redial === '')}">
                                <label>接通电话是否要求重拨</label>
                                <% booleanOptions.forEach(function(item){%>
                                <strong :class="{'active':<%-item.value%> === fri.redial}" @click="checkValue('fri','redial',<%-item.value%>)"><%-item.name%></strong>
                                <%})%>
                            </div>
                            <div class="form-group-rows" :class="{'form-group-error':(!isValidate && fri.answer_status === '')}">
                                <label>基本信息回答情况</label>
                                <% answerStatus.forEach(function(item){%>
                                <strong :class="{'active':<%-item.value%> === fri.answer_status}" @click="checkValue('fri','answer_status',<%-item.value%>)"><%-item.name%></strong>
                                <%})%>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="form-group-rows" :class="{'form-group-error':(!isValidate && fri.know_loan === '')}">
                                <label>是否知晓借款</label>
                                <% booleanOptions.forEach(function(item){%>
                                <strong :class="{'active':<%-item.value%> === fri.know_loan}" @click="checkValue('fri','know_loan',<%-item.value%>)"><%-item.name%></strong>
                                <%})%>
                            </div>
                            <div class="form-group-rows" :class="{'form-group-error':(!isValidate && fri.same_city === '')}">
                                <label>在同一地级市</label>
                                <% booleanOptions.forEach(function(item){%>
                                <strong :class="{'active':<%-item.value%> === fri.same_city}" @click="checkValue('fri','same_city',<%-item.value%>)"><%-item.name%></strong>
                                <%})%>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vehicle_info_title">
                    <div class="business_status" :class="{'form-group-error':(!isValidate && col.person === '')}">
                        <h4>单位联系人</h4>
                        <div class="drop_menu drop_menu_phone">
                            <span class="js_select">请选择</span>
                            <ul class="drop_menu_list">
                                <li v-for="item in colleagues" @click="checkValue('col','person',item.name + '  (电话: ' + item.mobile + ')')">
                                    <a href="javascript:;">{{item.name + '  (电话: ' + item.mobile + ')'}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="vehicle_info_wraper clearfix">
                    <div class="vehicle_item">
                        <div class="form-group clearfix">
                            <div class="form-group-rows form-group-ellipsis" :class="{'form-group-error':(!isValidate && col.dial === '')}">
                                <label>拨打电话</label>
                                <% booleanOptions.forEach(function(item){%>
                                <strong :class="{'active':<%-item.value%> === col.dial}" @click="checkValue('col','dial',<%-item.value%>)"><%-item.name%></strong>
                                <%})%>
                            </div>
                            <div class="form-group-rows" :class="{'form-group-error':(!isValidate && col.seniority === '')}">
                                <label>借款人工作时间</label>
                                <% seniority.forEach(function(item){%>
                                <strong :class="{'active':<%-item.value%> === col.seniority}" @click="checkValue('col','seniority',<%-item.value%>)"><%-item.name%></strong>
                                <%})%>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="form-group-rows" :class="{'form-group-error':(!isValidate && col.redial === '')}">
                                <label>接通电话是否要求重拨</label>
                                <% booleanOptions.forEach(function(item){%>
                                <strong :class="{'active':<%-item.value%> === col.redial}" @click="checkValue('col','redial',<%-item.value%>)"><%-item.name%></strong>
                                <%})%>
                            </div>
                            <div class="form-group-rows" :class="{'form-group-error':(!isValidate && col.answer_status === '')}">
                                <label>基本信息回答情况</label>
                                <% answerStatus.forEach(function(item){%>
                                <strong :class="{'active':<%-item.value%> === col.answer_status}" @click="checkValue('col','answer_status',<%-item.value%>)"><%-item.name%></strong>
                                <%})%>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="form-group-rows" :class="{'form-group-error':(!isValidate && col.know_legal === '')}">
                                <label>知晓单位法人姓名</label>
                                <% nullBooleanOptions.forEach(function(item){%>
                                <strong :class="{'active':<%-item.value%> === col.know_legal}" @click="checkValue('col','know_legal',<%-item.value%>)"><%-item.name%></strong>
                                <%})%>
                            </div>
                            <div class="form-group-rows" :class="{'form-group-error':(!isValidate && col.company_scale === '')}">
                                <label>单位规模</label>
                                <div class="drop_menu drop_menu_phone">
                                    <span class="js_select">请选择</span>
                                    <ul class="drop_menu_list">
                                        <% companyScale.forEach(function(item){%>
                                        <li @click="checkValue('col','company_scale',<%-item.value%>)">
                                            <a href="javascript:;"><%-item.name%></a>
                                        </li>
                                        <%})%>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="form-group-rows" :class="{'form-group-error':(!isValidate && col.know_job === '')}">
                                <label>知晓借款人职位及职责</label>
                                <% booleanOptions.forEach(function(item){%>
                                <strong :class="{'active':<%-item.value%> === col.know_job}" @click="checkValue('col','know_job',<%-item.value%>)"><%-item.name%></strong>
                                <%})%>
                            </div>
                            <div class="form-group-rows" :class="{'form-group-error':(!isValidate && col.know_job === '')}">
                                <label>借款人职位</label>
                                <input type="number" :disabled="col.know_job != 1" v-model="col.know_job == 0 ? '' : col.know_position" :class="{'user-ui-disabled':col.know_job != 1}" placeholder="借款人职位" class="user-ui-input">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="phone_submit clearfix">
              <button class="btn_confirm" @click="submitAction('<%-phoneId%>')">确定</button>
              <button class="btn_cancel" @click="cancelAction('<%-detailId%>')">取消</button>
            </div>
        </div>
        <% include ../../common/footer.ejs %>
    </div>
</div>
<script type="text/javascript" src="/dist/scripts/business/phone/index.js?v=20170908112004"></script>
</body>
</html>

