<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <meta charset="utf-8">
    <title>借款详情</title>
    <link rel="stylesheet" href="/styles/business/detail.css"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
</head>
<body>
<%include ../common/header.ejs%>
<div class="container clearfix">
    <% include ../common/aside_menu.ejs %>
    <div class="right-container fr">
        <div class="navigation">
            <a href="/" class="home_ico"></a>
            <em class="navigation_ico"></em>
            <a href="/business" class="navigation_link">借款列表</a>
            <em class="navigation_ico"></em>
            <span>借款详情</span>
        </div>
        <div class="content">
            <div class="cont-title">
                <i></i>
                <span>借款详情</span>
            </div>
            <div class="business_cont">
             <ul class="business_menu clearfix">
                <li class="active"><a href="javascript:;">标的信息</a></li>
                <li><a href="javascript:;">车辆及车况信息</a></li>
                <li><a href="javascript:;">申请信息</a></li>
                <li><a href="javascript:;">征信报告</a></li>
             </ul>
             <div class="business_tab active">

                 <div class="vehicle_info_title">
                     <div class="business_status">
                         <h4>借款信息</h4>
                        <% if([0, 1, 2, 3].indexOf(business.status) > -1 && reviewPermission(business.status)){%> <a class="ico1" href="/business/approval/<%-detailId%>?bid=<%-business.no%>&status=<%-business.status%>">去<%-borrowingStatus[business.status].stage%></a><%}%>
                     </div>
                 </div>
                 <div class="vehicle_info_wraper clearfix">
                     <div class="vehicle_item">
                         <div class="form-group clearfix">
                             <div class="form-group-rows">
                                 <label>借款类型：</label>
                                 <span><%-borrowingType[business.type].name%></span>
                             </div>
                             <div class="form-group-rows">
                                 <label>借款金额：</label>
                                 <span><%-business.amount%></span>
                             </div>
                         </div>
                         <div class="form-group clearfix">
                             <div class="form-group-rows">
                                 <label>借款期限：</label>
                                 <span><%-business.term%> <%-termUnit[business.term_unit].name%></span>
                             </div>
                             <div class="form-group-rows">
                                 <label>业务员：</label>
                                 <span><%-business.salesman_name || '无'%></span>
                             </div>
                         </div>
                         <div class="form-group clearfix">
                             <div class="form-group-rows">
                                 <label>还款类型：</label>
                                 <span><%-repaymentType[business.repay_type].name%></span>
                             </div>
                             <div class="form-group-rows">
                                 <label>综合服务费率：</label>
                                 <span><%-business.interest_rate%> %  / 期</span>
                             </div>
                         </div>
                     </div>
                 </div>
                 <div class="vehicle_info_title">
                     <div class="business_status">
                         <h4>费用</h4>
                     </div>
                 </div>
                 <div class="vehicle_info_wraper clearfix">
                     <div class="vehicle_item">
                         <div class="form-group clearfix">
                             <div class="form-group-rows">
                                 <label>中介费：</label>
                                 <span><%-business.fees.agency_fee ? business.fees.agency_fee.value : 0%> 元</span>
                             </div>
                             <div class="form-group-rows">
                                 <label>评估费：</label>
                                 <span><%-business.fees.evaluation_fee?business.fees.evaluation_fee.value:0%> 元</span>
                             </div>
                         </div>
                         <div class="form-group clearfix">
                             <div class="form-group-rows">
                                 <label>停车费：</label>
                                 <span><%-business.fees.parking_fee?business.fees.parking_fee.value:0%> 元</span>
                             </div>
                             <div class="form-group-rows">
                                 <label>GPS使用费：</label>
                                 <span><%-business.fees.gps_fee?business.fees.gps_fee.value:0%> 元</span>
                             </div>
                         </div>
                         <div class="form-group clearfix">
                             <div class="form-group-rows">
                                 <label>违章押金：</label>
                                 <span><%-business.fees.violation_deposit_fee?business.fees.violation_deposit_fee.value:0 %> 元</span>
                             </div>
                             <div class="form-group-rows">
                                 <label>GPS押金：</label>
                                 <span><%-business.fees.gps_deposit_fee?business.fees.gps_deposit_fee.value:0 %> 元</span>
                             </div>
                         </div>
                         <div class="form-group clearfix">
                             <div class="form-group-rows">
                                 <label>风险押金：</label>
                                 <span><%-business.fees.risk_deposit_fee?business.fees.risk_deposit_fee.value:0 %> 元</span>
                             </div>
                             <div class="form-group-rows">
                                 <label>自定费用：</label>
                                 <%if (business.fees.other_fee){%>
                                   <span><%-business.fees.other_fee.value%> 元 ( 费用名称: <%-business.fees.other_fee.name%> )</span>
                                 <%}else{%>
                                    <span>无</span>
                                 <%}%>
                             </div>
                         </div>
                     </div>
                 </div>
                 <% uploadImg.forEach(function(item){%>
                     <div class="vehicle_info_title">
                         <div class="business_status">
                             <h4><%-item.name%></h4>
                         </div>
                     </div>
                     <div class="vehicle_info_wraper clearfix">
                         <div class="vehicle_item">
                           <%if(business[item.type].length){%>
                            <div class="business_upload_img">

                                <%business[item.type].forEach(function(img){%>
                                    <img class="img_pic" src="<%-img.source_link%>"/>
                                    <span><%-img.filename%></span>
                                    <i class="business_rotate"></i>
                                <%})%>
                            </div>
                             <%}else{%>
                                <span>暂无</span>
                             <%}%>
                         </div>
                     </div>
                 <%})%>
                 <% if(business.repay_schema.length){%>
                 <div class="vehicle_tab_wraper clearfix">
                     <h4>自定义计划书</h4>
                     <div class="business_table">
                         <dl class="business_table_list">
                             <dt>
                                 <span>指定期</span>
                                 <span>综合管理费</span>
                                 <span>还本金额</span>
                             </dt>
                            <%business.repay_schema.forEach(function(item){%>
                             <dd>
                                 <span><%-item.term%></span>
                                 <span><%-item.interest%></span>
                                 <span><%-item.capital%></span>
                             </dd>
                             <%})%>
                         </dl>
                     </div>
                 </div>
                 <%}%>
                 <div class="vehicle_tab_wraper clearfix">
                    <div id="approvals"></div>
                 </div>
             </div>
             <div class="business_tab">
                 <div class="vehicle_info_title">
                     <div class="business_status">
                         <h4>车辆信息</h4>
                     </div>
                 </div>
                 <div class="vehicle_info_wraper clearfix">
                     <div class="vehicle_item">
                         <div class="form-group clearfix">
                             <div class="form-group-rows">
                                 <label>车辆类型：</label>
                                 <%carType.forEach(function(item){%>
                                    <%if(item.value == vehicle.type){%>
                                      <span>小型汽车</span>
                                    <%}%>
                                 <%})%>

                             </div>
                             <div class="form-group-rows">
                                 <label>品牌型号：</label>
                                 <span><%-vehicle.brand + ' ' + vehicle.series + ' ' + vehicle.model%></span>
                             </div>
                         </div>
                         <div class="form-group clearfix">
                             <div class="form-group-rows">
                                 <label>车牌号：</label>
                                 <span><%-vehicle.plate_number%></span>
                             </div>
                             <div class="form-group-rows">
                                 <label>车架号：</label>
                                 <span><%-vehicle.vin%></span>
                             </div>
                         </div>
                         <div class="form-group clearfix">
                             <div class="form-group-rows">
                                 <label>发动机号：</label>
                                 <span><%-vehicle.engine_number%></span>
                             </div>
                             <div class="form-group-rows">
                                 <label>出厂日期：</label>
                                 <span><%-vehicle.production_day%></span>
                             </div>
                         </div>
                         <div class="form-group clearfix">
                             <div class="form-group-rows">
                                 <label>颜色：</label>
                                 <% colorList.forEach(function(item){%>
                                     <%if(item.value == vehicle.color){%>
                                       <span><%-item.name%></span>
                                      <%}%>
                                 <%})%>

                             </div>
                             <div class="form-group-rows">
                                 <label>排量：</label>
                                 <span><%-vehicle.displacement%></span>
                             </div>
                         </div>
                         <div class="form-group clearfix">
                             <div class="form-group-rows">
                                 <label>变速：</label>
                                 <%shiftingType.forEach(function(item){%>
                                 <% if(item.value == vehicle.shifting){%>
                                   <span><%-item.name%></span>
                                 <%}%>
                                 <%})%>
                             </div>
                             <div class="form-group-rows">
                                 <label>驱动类型：</label>
                                 <%driverType.forEach(function(item){%>
                                    <%if(vehicle.driver_type == item.value){%>
                                      <span><%-item.name%></span>
                                    <%}%>
                                 <%})%>

                             </div>
                         </div>
                     </div>
                 </div>
                 <div class="vehicle_info_title">
                     <div class="business_status">
                         <h4>车况信息</h4>
                     </div>
                     <p>车况评估报告（评估时间: <%-condition && condition.created_at %> 评估人: <%-condition && condition.evaluator.name%>）</p>
                 </div>
                 <div class="vehicle_tab_wraper clearfix">
                     <div class="vehicle_title">车辆属性</div>
                     <div class="vehicle_item">
                         <div class="form-group clearfix">
                             <div class="form-group-rows">
                                 <label>真皮内饰：</label>
                                 <span><%- condition && booleanOptions[condition.is_leather]%></span>
                             </div>
                             <div class="form-group-rows">
                                 <label>天窗：</label>
                                 <span><%-condition && booleanOptions[condition.has_sunroof]%></span>
                             </div>
                         </div>
                         <div class="form-group clearfix">
                             <div class="form-group-rows">
                                 <label>导航：</label>
                                 <span><%-condition && booleanOptions[condition.has_navigation]%></span>
                             </div>
                             <div class="form-group-rows">
                                 <label>总千瓦数：</label>
                                 <span><%-condition && condition.power_kw%></span>
                             </div>
                         </div>
                         <div class="form-group clearfix">
                             <div class="form-group-rows">
                                 <label>内饰状况：</label>
                                 <span><%-condition && interiorStatus[condition.interior_status].name%></span>
                             </div>
                             <div class="form-group-rows">
                                 <label>漆面状况：</label>
                                 <span><%-condition && surfaceStatus[condition.surface_status].name%></span>
                             </div>
                         </div>
                         <div class="form-group clearfix">
                             <div class="form-group-rows">
                                 <label>车牌价格：</label>
                                 <span><%-condition && condition.plate_price%> 元</span>
                             </div>
                             <div class="form-group-rows">
                                 <label>行使里程：</label>
                                 <span><%-condition && condition.mileage%> 公里</span>
                             </div>
                         </div>
                     </div>
                 </div>
                 <div class="vehicle_tab_wraper clearfix">
                     <div class="vehicle_title">车辆信息</div>
                     <div class="vehicle_item">
                         <div class="form-group clearfix">
                             <div class="form-group-rows">
                                 <label>购买时间：</label>
                                 <span><%condition && condition.buy_day%></span>
                             </div>
                             <div class="form-group-rows">
                                 <label>过户时间：</label>
                                 <span><%-condition && condition.assigned_day%></span>
                             </div>
                         </div>
                         <div class="form-group clearfix">
                             <div class="form-group-rows">
                                 <label>首次上牌日期：</label>
                                 <span><%-condition && condition.registration_day%></span>
                             </div>
                             <div class="form-group-rows">
                                 <label>保单到期日：</label>
                                 <span><%-condition && condition.insurance_expired_day%></span>
                             </div>
                         </div>
                         <div class="form-group clearfix">
                             <div class="form-group-rows">
                                 <label>购买方式：</label>
                                 <span><%-condition && purchaseType[condition.purchase_type]%></span>
                             </div>
                             <div class="form-group-rows">
                                 <label>购买价格：</label>
                                 <span><%-condition && condition.buy_price%></span>
                             </div>
                         </div>
                         <div class="form-group clearfix">
                             <div class="form-group-rows">
                                 <label>购车贷款金额：</label>
                                 <span><%-(condition && condition.loan_amount) || 0%> 元</span>
                             </div>
                             <div class="form-group-rows">
                                 <label>剩余未还金额：</label>
                                 <span><%-(condition && condition.loan_terms) || 0%> 元</span>
                             </div>
                         </div>
                         <div class="form-group clearfix">
                             <div class="form-group-rows">
                                 <label>购车贷款总期数：</label>
                                 <span><%-(condition && condition.loan_pending_terms) || 0%> 期 </span>
                             </div>
                             <div class="form-group-rows">
                                 <label>剩余未还期数：</label>
                                 <span><%-(condition && condition.loan_pending_terms) || 0%> 期</span>
                             </div>
                         </div>
                         <div class="form-group clearfix">
                             <div class="form-group-rows">
                                 <label>历史抵押次数：</label>
                                 <span><%-condition && condition.collateral_times%> 次 </span>
                             </div>
                             <div class="form-group-rows">

                                 <label>最近解抵押：</label>
                                 <span><%-condition &&  collateralLastFree[condition.collateral_last_free].name%></span>
                             </div>
                         </div>
                         <div class="form-group clearfix">
                             <div class="form-group-rows">
                                 <label>是否有车险理赔记录：</label>
                                 <span><%-condition && booleanOptions[condition.has_claims_records]%>   </span>
                                 <%if(condition &&  condition.has_claims_records){%>
                                   <span>(理赔金额: <%-condition && condition.claims_amount%> 元) </span>
                                 <%}%>
                             </div>
                             <div class="form-group-rows">
                                 <label>证件核查：</label>
                                 <%condition && condition.certificate.forEach(function(item){%>
                                    <button><%-certificateType[item].name%></button>
                                 <%})%>

                             </div>
                         </div>
                     </div>
                 </div>
                 <div class="vehicle_tab_wraper clearfix">
                     <div class="vehicle_title">工况及性能说明</div>
                     <div class="vehicle_item">
                         <div class="form-group clearfix">
                             <div class="form-group-rows">
                                 <label>起动机/转向助力：</label>

                                 <%condition && condition.starter_status.forEach(function(item){%>

                                    <button <%if(item !==0){%>class="btn_danger"<%}%>><%-starterStatus[item].name%></button>

                                 <%})%>

                             </div>
                             <div class="form-group-rows">
                                 <label>发动机：</label>
                                 <% condition && condition.engine_status.forEach(function(item){%>
                                   <button <%if(item !==0){%>class="btn_danger"<%}%>><%-engineStatus[item].name%></button>
                                 <%})%>



                             </div>
                         </div>
                         <div class="form-group clearfix">
                             <div class="form-group-rows">
                                 <label>变速器：</label>

                                 <% condition && condition.transmission_status.forEach(function(item){%>
                                   <button <%if(item !==0){%>class="btn_danger"<%}%>><%-transmissionStatus[item].name%></button>
                                 <%})%>

                             </div>
                             <div class="form-group-rows">
                                 <label>排气系统：</label>

                                 <% condition && condition.exhaust_status.forEach(function(item){%>
                                   <button <%if(item !==0){%>class="btn_danger"<%}%>><%-exhaustStatus[item].name%></button>
                                 <%})%>

                             </div>
                         </div>
                         <div class="form-group clearfix">
                             <div class="form-group-rows">
                                 <label>电器系统/空调正常：</label>
                                 <span><%-condition && booleanOptions[condition.is_electric_ok]%></span>
                                 <%if(condition && !condition.is_electric_ok){%><span>( 说明: <%-condition.electric_state%> )</span><%}%>
                             </div>
                             <div class="form-group-rows">
                                 <label>底盘正常：</label>
                                 <span><%-condition && booleanOptions[condition.is_chassis_ok]%></span>
                                 <%if(condition &&  !condition.is_chassis_ok){%><span>( 说明: <%-condition.chassis_state%> )</span><%}%>
                             </div>
                         </div>
                     </div>
                 </div>
                 <div class="vehicle_tab_wraper clearfix">
                     <div class="vehicle_title">评估</div>
                     <div class="vehicle_item">
                         <div class="form-group clearfix">
                             <div class="form-group-rows">
                                 <label>车辆综合状况：</label>
                                 <span><%-condition && isWorkOk[condition.is_work_ok].name%></span>
                             </div>
                             <div class="form-group-rows">
                                 <label>评估价格：</label>
                                 <span><%-condition && condition.evaluated_price%> 元 </span>
                             </div>
                         </div>
                         <div class="form-group clearfix">
                             <div class="form-group-rows">
                                 <label>整体运行说明：</label>
                                 <span><%-condition && condition.summary%></span>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="business_tab">
                 <div class="vehicle_info_title">
                     <div class="business_status">
                         <h4>借款人信息</h4>
                        <%if (application.phone_review_status == 0){%><a href="/business/phone/<%-application.id%>?id=<%-detailId%>" class="ico2">去电核</a><%}%>
                     </div>
                 </div>
                 <div class="vehicle_info_wraper clearfix">
                     <div class="vehicle_item">
                         <div class="form-group clearfix">
                             <div class="form-group-rows">
                                 <label>姓名：</label>
                                 <span><%-application.borrower.name%></span>
                             </div>
                             <div class="form-group-rows">
                                 <label>手机：</label>
                                 <span><%-mobileEncrypt(application.borrower.mobile)%></span>
                             </div>
                         </div>
                         <div class="form-group clearfix">
                             <div class="form-group-rows">
                                 <label>身份证号：</label>
                                 <span><%-idCardEncrypt(application.borrower.id_no)%></span>
                             </div>
                             <div class="form-group-rows">
                                 <label>性别：</label>
                                 <span><%-application.gender?'男':'女'%></span>
                             </div>
                         </div>
                         <div class="form-group clearfix">
                             <div class="form-group-rows">
                                 <label>家庭固话：</label>
                                 <span><%-application.telephone%></span>
                             </div>
                             <div class="form-group-rows">
                                 <label>教育程度：</label>
                                 <span><%-education[application.education].name%></span>
                             </div>
                         </div>
                         <div class="form-group clearfix">
                             <div class="form-group-rows">
                                 <label>民族：</label>
                                 <span><%-application.nation%></span>
                             </div>
                             <div class="form-group-rows">
                                 <label>婚姻：</label>
                                 <span><%-maritalStatus[application.marital_status]%></span>
                             </div>
                         </div>
                         <div class="form-group clearfix">
                             <div class="form-group-rows">
                                 <label>本地户籍：</label>
                                 <span><%-booleanOptions[application.is_native]%></span>
                             </div>
                             <div class="form-group-rows">
                                 <label>配偶本地户籍：</label>
                                 <span><%-booleanOptions[application.is_mate_native]%></span>
                             </div>
                         </div>
                         <div class="form-group clearfix">
                             <div class="form-group-rows">
                                 <label>户籍：</label>
                                 <span><%-application.birthplace_province%>(省)</span>
                                 <span><%-application.birthplace_city%>(市)</span>
                             </div>
                             <div class="form-group-rows">
                                 <label>具体地址：</label>
                                 <span><%-application.birthplace_address%></span>
                             </div>
                         </div>
                         <div class="form-group clearfix">
                             <div class="form-group-rows">
                                 <label>现居地：</label>
                                 <span><%-application.province%>(省)</span>
                                 <span><%-application.city%>(市)</span>
                             </div>
                             <div class="form-group-rows">
                                 <label>具体地址：</label>
                                 <span><%-application.address%></span>
                             </div>
                         </div>
                     </div>
                 </div>
                 <div class="vehicle_info_title">
                     <div class="business_status">
                         <h4>单位信息</h4>
                     </div>
                 </div>
                 <div class="vehicle_info_wraper clearfix">
                     <div class="vehicle_item">
                         <div class="form-group clearfix">
                             <div class="form-group-rows">
                                 <label>单位名称：</label>
                                 <span><%-application.company_name%></span>
                             </div>
                             <div class="form-group-rows">
                                 <label>单位性质：</label>
                                 <span><%-companyType[application.company_type].name%></span>
                             </div>
                         </div>
                         <div class="form-group clearfix">
                             <div class="form-group-rows">
                                 <label>雇用类型：</label>
                                 <span><%-salaryType[application.salary_type].name%></span>
                             </div>
                             <div class="form-group-rows">
                                 <label>占股：</label>
                                 <span><%-application.share%> %</span>
                             </div>
                         </div>
                         <div class="form-group clearfix">
                             <div class="form-group-rows">
                                 <label>部门：</label>
                                 <span><%-application.department%></span>
                             </div>
                             <div class="form-group-rows">
                                 <label>职务：</label>
                                 <span><%-application.position%></span>
                             </div>
                         </div>
                         <div class="form-group clearfix">
                             <div class="form-group-rows">
                                 <label>工作年限：</label>
                                 <span><%-application.work_years%></span>
                             </div>
                             <div class="form-group-rows">
                                 <label>收入：</label>
                                 <span><%-application.salary%> 元/月</span>
                             </div>
                         </div>
                         <div class="form-group clearfix">
                             <div class="form-group-rows">
                                 <label>公司电话：</label>
                                 <span><%-application.company_phone%></span>
                             </div>
                             <div class="form-group-rows">
                                 <label>财务电话：</label>
                                 <span><%-application.finance_phone%></span>
                             </div>
                         </div>
                     </div>
                 </div>
                 <div class="vehicle_info_title">
                     <div class="business_status">
                         <h4>联系人信息</h4>
                     </div>
                 </div>
                 <div class="vehicle_info_wraper clearfix">
                     <div class="vehicle_item">
                         <%application.social_net.relatives.forEach(function(item){%>
                           <div class="form-group clearfix">
                                 <div class="form-group-rows business_group_rows">
                                     <label>直系亲属：</label>
                                     <span><%-item.name%></span>
                                     <span><%-item.relation%></span>
                                     <span><%-mobileEncrypt(item.mobile)%></span>
                                     <span><%-item.company%></span>
                                 </div>
                            </div>
                         <%})%>
                         <%application.social_net.emergencyContacts.forEach(function(item){%>
                         <div class="form-group clearfix">
                             <div class="form-group-rows business_group_rows">
                                 <label>紧急联系人：</label>
                                 <span><%-item.name%></span>
                                 <span><%-item.relation%></span>
                                 <span><%-mobileEncrypt(item.mobile)%></span>
                                 <span><%-item.company%></span>

                             </div>
                         </div>
                         <%})%>
                         <%application.social_net.friends.forEach(function(item){%>
                         <div class="form-group clearfix">
                             <div class="form-group-rows business_group_rows">
                                 <label>朋友：</label>
                                 <span><%-item.name%></span>
                                 <span><%-item.relation%></span>
                                 <span><%-mobileEncrypt(item.mobile)%></span>
                                 <span><%-item.company%></span>

                             </div>
                         </div>
                         <%})%>
                         <%application.social_net.colleagues.forEach(function(item){%>
                         <div class="form-group clearfix">
                             <div class="form-group-rows business_group_rows">
                                 <label>单位联系人：</label>
                                 <span><%-item.name%></span>
                                 <span><%-item.relation%></span>
                                 <span><%-mobileEncrypt(item.mobile)%></span>
                                 <span><%-item.company%></span>
                             </div>
                         </div>
                         <%})%>
                     </div>
                 </div>
                 <div class="vehicle_info_title">
                     <div class="business_status">
                         <h4>资产信息</h4>
                     </div>
                 </div>
                 <div class="vehicle_info_wraper clearfix">
                     <div class="vehicle_item">
                         <%application.property.houseProperties.forEach(function(item){%>
                             <div class="form-group clearfix">
                                 <div class="form-group-rows business_group_rows">
                                     <label>房产：</label>
                                     <span><%-item.status==1?'自有':'租房'%></span>
                                     <span><%-item.monthlyPay%> 元/月</span>
                                     <span><%-item.area%> <sup>2</sup></span>
                                     <span><%-item.address%></span>
                                 </div>
                             </div>
                         <%})%>
                         <%application.property.cars.forEach(function(item){%>
                             <div class="form-group clearfix">
                                 <div class="form-group-rows business_group_rows">
                                     <label>车辆：</label>
                                     <span><%-item.status==1?'自有':'租赁'%></span>
                                     <span><%-item.buyingDate%></span>
                                     <span><%-item.monthlyPay%> 元/月</span>
                                     <span><%-item.brand%></span>
                                 </div>
                             </div>
                         <%})%>
                         <%application.property.financialAssets.forEach(function(item){%>
                         <div class="form-group clearfix">
                             <div class="form-group-rows business_group_rows">
                                 <label>金融资产：</label>
                                 <span><%-item.field%></span>
                                 <span><%-item.amount%></span>
                                 <span><%-item.desc%></span>
                             </div>
                         </div>
                         <%})%>
                     </div>
                 </div>
                 <div class="vehicle_info_title">
                     <div class="business_status">
                         <h4>借款事项</h4>
                     </div>
                 </div>
                 <div class="vehicle_info_wraper clearfix">
                     <div class="vehicle_item">
                         <div class="form-group clearfix">
                             <div class="form-group-rows">
                                 <label>用途：</label>
                                 <span><%-purposeType[application.purpose].name%></span>
                             </div>
                             <div class="form-group-rows">
                                 <label>借款类型：</label>
                                 <span><%-borrowingSeriesType[application.borrowing_type].name%></span>
                             </div>
                         </div>
                         <div class="form-group clearfix">
                             <div class="form-group-rows">
                                 <label>借款金额：</label>
                                 <span><%-application.amount%> 元</span>
                             </div>
                             <div class="form-group-rows">
                                 <label>借款期限：</label>
                                 <span><%-application.term%>  <%-termUnit[application.term_unit].name%></span>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="business_tab business_credit">
                    <div class="vehicle_info_title">
                        <div class="business_status">
                            <h4>征信报告</h4>
                        </div>
                    </div>
                    <div class="list_container list_top">
                        <dl class="cont_list" id="creditList">

                        </dl>
                    </div>
                    <div class="vehicle_info_title">
                        <div class="business_status">
                            <h4>车辆报告</h4>
                        </div>
                    </div>
                    <div class="list_container list_top">
                        <dl class="cont_list" id="vehicleList">
                        </dl>
                    </div>
                </div>
          </div>
        </div>
        <% include ../common/footer.ejs %>
    </div>
</div>
<script type="text/javascript">

    var roleList = <%-JSON.stringify(roleList)%>;

    var social_net = <%-JSON.stringify(application.social_net)%>;

</script>
<script type="text/javascript" src="/dist/scripts/business/detail.js"></script>
</body>
</html>

