<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <meta charset="utf-8">
    <title>百渊金服 • 借款人列表</title>
    <link rel="stylesheet" href="/styles/business/index.css"/>
</head>
<body>

<% include ../common/header.ejs %>
<div class="container clearfix">
    <% include ../common/aside_menu.ejs %>
    <div class="right-container fr">
        <div class="navigation">
            <a href="/" class="home_ico"></a>
            <em class="navigation_ico"></em>
            <span>借款人列表</span>
        </div>
        <div class="content" id="app">
            <div class="cont-title">
                <i></i>
                <span>车辆列表</span>
                <a href="/business/loan" class="title-btn1">发起借款</a>
            </div>
            <div class="search">
                <div class="search_wraper clearfix">
                    <div class="list_item">
                        <div class="search_item">
                            <label>借款编号</label>
                            <input type="text" class="user-ui-input" v-model="params.no" placeholder="请输入借款编号"/>
                        </div>
                        <div class="search_item">
                            <label>借款人</label>
                            <input type="text" class="user-ui-input" v-model="params.name" placeholder="请输入借款人姓名"/>
                        </div>
                        <div class="search_item">
                            <label>借款金额</label>
                            <input type="text" class="user-ui-input" v-model="params.amount" placeholder="请输入借款金额"/>
                        </div>
                        <div class="search_item">
                            <label>借款期限</label>
                            <input type="text" class="time-ui-input" v-model="params.term" placeholder="请输入借款期限"/>
                            <div class="drop_menu" :class="{'active':dropMenu == 1}">
                                <span @click.stop="selectValue(1)" v-cloak>{{loanTerm}}</span>
                                <ul class="drop_menu_list">
                                    <%termUnit.forEach(function(item){%>

                                    <li @click="checkValue('term_unit',<%-item.value%>)"><a href="javascript:;"><%-item.name%></a></li>

                                    <%})%>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="list_item">
                        <div class="search_item">
                            <label>借款类型</label>
                            <div class="drop_menu drop-menu-loan" :class="{'active':dropMenu == 2}">
                                <span @click.stop="selectValue(2)" v-cloak>{{loanType}}</span>
                                <ul class="drop_menu_list">
                                    <%borrowingType.forEach(function(item){%>
                                    <li @click="checkValue('type',<%-item.value%>)"><a href="javascript:;"><%-item.name%></a></li>
                                    <%})%>
                                </ul>
                            </div>
                        </div>
                        <div class="search_item">
                            <label>借款状态</label>
                            <div class="drop_menu drop-menu-loan" :class="{'active':dropMenu == 3}">
                                <span @click.stop="selectValue(3)" v-cloak>{{loanStatus}}</span>
                                <ul class="drop_menu_list">
                                    <% for(var attr in borrowingStatus) {%>
                                    <li  @click="checkValue('status',<%-attr%>)"><a href="javascript:;"><%-borrowingStatus[attr].title%></a></li>
                                    <%}%>
                                </ul>
                            </div>
                        </div>
                        <div class="search_item">
                            <label>注册时间</label>
                            <div class="user-ui-calendar">
                                <input type="text" class="user-ui-input" readonly="readonly" v-model="params.from" id="fromTime" placeholder="请输入开始时间"/>
                                <em>至</em>
                                <input type="text" class="user-ui-input" readonly="readonly" v-model="params.to" id="endTime" placeholder="请输入开始时间"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="search_submit clearfix">
                    <button type="button" @click="query">查询</button>
                    <button type="reset" @click="reset">重置</button>
                </div>
            </div>

            <div class="list_container">
                <dl class="cont_list">
                    <dt>
                        <span class="business_num">借款编号</span>
                        <span class="business_name">借款人</span>
                        <span class="business_type">借款类型</span>
                        <span class="business_money">借款金额</span>
                        <span class="business_term">借款期限</span>
                        <span class="business_time">申请时间</span>
                        <span class="list_status">状态</span>
                        <span>操作</span>
                    </dt>
                <% if (businessList && businessList.length){%>

                  <% businessList.forEach(function(item){%>
                    <dd>
                        <span class="business_num"><%-item.no%></span>
                        <span class="business_name"><%-item.application.borrower.name%></span>
                        <span class="business_type"><%-borrowingType[item.type].name%></span>

                        <span class="business_money"><%-item.amount%></span>
                        <span class="business_term"><%-item.term + termUnit[item.term_unit].name%></span>
                        <span class="business_time"><%-item.created_at%></span>
                        <div class="list_status">
                          <span class="<%-borrowingStatus[item.status].color%>"><%-borrowingStatus[item.status].title%></span>
                          <% if(item.status == 0){%>
                            <span class="<%-autoReviewStatus[item.application.auto_review_status].color%>"><%-autoReviewStatus[item.application.auto_review_status].title%></span>
                          <%}%>

                          <% if([0,1].indexOf(item.status) > -1){%>
                            <span class="list_btn1"><%-phoneReviewStatus[item.application.phone_review_status].title%></span>
                          <%}%>
                        </div>
                        <a class="list_action" href="/business/<%-item.id%>">详情</a>
                        <% if(item.status == 0) {%><a class="list_action" href="/business/edit/<%-item.id%>"> / 完善借款信息</a><%}%>
                    </dd>
                  <%})%>
                <%}else{%>
                  <% include ../common/list_empty.ejs %>
                <%}%>
                </dl>
            </div>
            <% if(businessList && businessList.length){%>
              <div class="pagination">
                <ul class="pagination_list">
                    <% include ../common/pagination.ejs %>
                </ul>
              </div>
            <%}%>
        </div>
        <% include ../common/footer.ejs%>
    </div>
</div>
<div class="ui-calendar" id="calendar"></div>
<script type="text/javascript" src="/dist/scripts/business/index.js"></script>
</body>
</html>
