<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>首页</title>
    <link rel="stylesheet" href="/styles/message/index.css"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
</head>
<body>
<% include ../common/header.ejs %>

<div class="container clearfix">
    <% include ../common/aside_menu.ejs %>
    <div class="right-container fr">
        <div class="navigation">
            <a href="/" class="home_ico"></a>
            <em class="navigation_ico"></em>
            <span>站内信</span>
        </div>
        <div class="content">
            <div class="cont-title">
                <i></i>
                <span>站内信列表</span>
                <button class="message_read <%if(isRead){%>active<%}%>">全部设为已读</button>
            </div>
            <div class="message">
              <ul class="message_list">
              <% if (messageList) {%>
               <% messageList.forEach(function(item){%>
                <li<%if(item.status==0){%> class="active"<%}%>>
                    <span><%-item.title%></span>
                    <a href="javascript:;" data-id="<%-item.id%>" class="message_link">查看详情</a>
                    <time class="message_time"><%-item.created_at%></time>
                    <div class="sub_message">
                      <span><%-item.content%></span>
                    </div>
                </li>
               <%})%>
              <%}%>
              </ul>
            </div>
            <div class="pagination">
                <ul class="pagination_list">
                  <% include pagination.ejs %>
                </ul>
            </div>
        </div>
        <div class="footer">
            <span>2016  上海百渊金融信息服务有限公司</span>
        </div>
    </div>
</div>
<script type="text/javascript">
    window.paginationTpl = <%-JSON.stringify(paginationTpl)%>;
</script>
<script type="text/javascript" src="/scripts/lib/require.js" data-main="/scripts/message/index"></script>
</body>
</html>

