<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>首页</title>
    <link rel="stylesheet" href="/styles/borrowers/detail.css?v=20170825225434"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
</head>
<body>
<% include ../common/header.ejs %>

<div class="container clearfix">
    <% include ../common/aside_menu.ejs %>
    <div class="right-container fr">
        <div class="navigation">
            <a href="/" class="home_ico"></a>
            <em class="navigation_ico"></em>
            <a href="/borrowers" class="navigation_link">借款人列表</a>
            <em class="navigation_ico"></em>
            <span>用户详情</span>
        </div>
        <div class="content" id="app">
            <div class="cont-title">
                <i></i>
                <span>用户详情</span>
            </div>
            <div class="borrower_detail">
                <div class="borrower_item">
                    <label>姓名：</label>
                    <p><%-borrowersInfo.name%></p>
                </div>
                <div class="borrower_item">
                    <label>手机号：</label>
                    <p><%-mobileEncrypt(borrowersInfo.mobile)%></p>
                </div>
                <div class="borrower_item">
                    <label>身份证：</label>
                    <p><%-idCardEncrypt(borrowersInfo.id_no)%></p>
                </div>
                <div class="borrower_item">
                    <label>注册时间：</label>
                    <p><%-borrowersInfo.created_at%></p>
                </div>
            </div>
            <div class="cont-title">
                <i></i>
                <span>车辆</span>
                <a href="/borrowers/<%-detailId%>/add" class="title-btn1">新增车辆</a>
            </div>
            <div class="list_container list_borrowers">
                <dl class="cont_list">
                    <dt>
                        <span class="borrowers_num">款式</span>
                        <span class="borrowers_gps">GPS设备</span>
                        <span class="borrowers_color">颜色</span>
                        <span class="borrowers_time">添加时间</span>
                        <span>操作</span>
                    </dt>
                    <%if(borrowersList && borrowersList.length){%>
                    <% borrowersList.forEach(function(item){%>
                    <dd>
                        <span class="borrowers_num"><%-item.model%></span>
                        <div class="borrowers_gps"><span class="borrowers_gps_action" @click="showPopup('#addPopup')">添加 GPS 设备</span><span class="borrowers_gps_action"> / 查看设备</span></div>
                        <span class="borrowers_color"><%-colorList[item.color].name%></span>
                        <span class="borrowers_time"><%-item.created_at%></span>
                        <div class="borrowers_action">
                            <a href="/borrowers/vehicle/<%-item.id%>?id=<%-detailId%>" class="list_action">查看详情</a>
                            <a href="/borrowers/vehicle/list/<%-item.id%>?id=<%-detailId%>" class="list_action"> / 车况信息</a>
                        </div>
                    </dd>
                    <%})%>
                    <%}else{%>
                    <% include ../common/list_empty.ejs %>
                    <%}%>
                </dl>
            </div>
        </div>
        <% include ../common/footer.ejs%>
    </div>
</div>
<div class="popup_wraper" id="addPopup">
    <div class="popup_title">
        <h4>添加GPS设备</h4>
    </div>
    <div class="popup_cont">
        <div class="popup_cont_type">
            <ul class="popup_menu">
                <li>供应商</li>
                <li>设备号（IMEI）</li>
                <li>设备类型</li>
            </ul>
        </div>
        <div class="const_wraper">

            <div class="cost_item" v-for="(item,index) in repay_schema">
                <div class="drop_menu drop_menu_stage" :class="{'active':dropMenu == index}">
                    <span @click.stop="selectValue(index)">谷米</span>
                    <ul class="drop_menu_list">
                        <li @click="checkValue('type',item.value)">
                            <a href="javascript:;">谷米</a>
                        </li>
                    </ul>
                </div>
                <div class="const_money">
                    <input type="number" placeholder="请输入设备号" v-model="item.interest" class="user-ui-input"/>
                </div>
                <div class="const_money">
                    <div class="drop_menu drop_menu_stage" :class="{'active':dropMenu == index}">
                        <span @click.stop="selectValue(index)">有线</span>
                        <ul class="drop_menu_list">
                            <li @click="checkValue('type',item.value)">
                                <a href="javascript:;">有线</a>
                            </li>
                            <li @click="checkValue('type',item.value)">
                                <a href="javascript:;">无线</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <button class="form-group-btn" v-if="index==0" @click="addRecord(1)">+</button>
                <button class="form-group-btn btn_gray" v-else @click="removeRecord(index)">-</button>
            </div>
        </div>
    </div>
    <div class="popup_submit clearfix">
        <button class="btn_confirm">添加</button>
        <button class="btn_cancel" @click="hidePopup('#addPopup')">取消</button>
    </div>
</div>
<div class="popup_mask" @click="hidPopup('#addPopup')"></div>
<script type="text/javascript" src="/dist/scripts/borrowers/detail.js?v=20170825225434"></script>
</body>
</html>