

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>资产--GPS地图</title>
    <link rel="stylesheet" href="/styles/vehicles/map/index.css?v=20170908161840"/>
    <script type="text/javascript">
        !function(){
            document.documentElement.style.fontSize = document.documentElement.clientWidth / 19.2 + 'px';
            window.addEventListener('resize',function(){
                document.documentElement.style.fontSize = document.documentElement.clientWidth / 19.2 + 'px';
            })</title>
    <link rel="stylesheet" href="/styles/vehicles/map/index.css?v=20170908161840"/>
    <script type="text/javascript">
        !function(){
            document.documentElement.style.fontSize = document.documentElement.clientWidth / 19.2 + 'px';
            window.addEventListener('resize',function(){
                document.documentElement.style.fontSize = document.documentElement.clientWidth / 19.2 + 'px';
            })
        }();
    </script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=98f295e5e3451c60b1036212f1f621e9"></script>
</head>

<body>

<div class="map_location">
    <p><%-location.formatted_address + location.sematic_description%></p>
</div>
<div id="container"></div>

<div class="popup_wraper" id="popup">
    <div class="popup_title">
        <h4>设备信息</h4>
    </div>
    <div class="device_popup">

    </div>
    <div class="popup_submit clearfix">
        <button class="btn_confirm" onclick="hideContent('#popup')">关闭</button>
    </div>
</div>
<div class="popup_mask"></div>

<div class="help_info">
    <p>信号: 设备最近一次和平台通信时间</p>
    <p>定位: 设备最近一次GPS卫星定位时间</p>
    <p>在线设备静止时不定位，但仍会与平台通信</p>
</div>
<script type="text/javascript">


    function init() {

        var map = new BMap.Map("container");

        var monitor = <%-JSON.stringify(monitor)%>;

        var centerPoint = new BMap.Point(116.404, 39.915);

        map.centerAndZoom(centerPoint,5);

        if (monitor && monitor[0] && monitor[0].lng) {

            centerPoint = new BMap.Point(monitor[0].lng,monitor[0].lat);

            map.centerAndZoom(centerPoint,13);

        } else {

            return;
        }


        //初始化地图,选取第一个点为起始点
        map.enableScrollWheelZoom();
        map.addControl(new BMap.NavigationControl());
        map.addControl(new BMap.ScaleControl());
        map.addControl(new BMap.OverviewMapControl({isOpen: true}));

        //显示小车子
        var car = new BMap.Marker(centerPoint, {icon: new BMap.Icon("/images/car.png?v=20170908161840", new BMap.Size(67, 50), {imageOffset: new BMap.Size(0, 0)})});
        map.addOverlay(car);

        var sContent = '\
          <% var device_info = monitor[0].device_info;var device_info_new= monitor[0].device_info_new; %>\
          <div class="map_popup">\
            <% if((device_info == 0 && device_info_new == 4) || device_info == 3 || device_info == 4 ){%>\
            <div class="map_item">\
              <label>状态：</label>\
              <span>静止/离线(<%-timeComputed(monitor[0].acc_seconds)%>)</span>\
            </div>\
            <%} else if(monitor[0].device_info == 0){%>\
            <div class="map_item">\
              <label>速度：</label>\
              <span>\
                <% var speed = monitor[0].speed%>\
                <%if(speed == -1){%>\
                    设备过期\
                 <%}else if(speed == -9){%>\
                    设备还未上线\
                 <%}else{%>\
                  <%-speed%>公里/小时\
                <%}%>\
               </span>\
            </div>\
            <%}%>\
            <div class="map_item">\
              <label>信号：</label>\
              <span><%-dateFormat(monitor[0].heart_time * 1000,'yyyy-MM-dd HH:mm:ss')%></span>\
              <strong class="map_ques" onmouseenter="showHelpInfo(event)" onmouseleave="hideHelpInfo()">[?]</strong>\
            </div>\
            <div class="map_item">\
              <label>定位：</label>\
              <span><%-dateFormat(monitor[0].gps_time * 1000, 'yyyy-MM-dd HH:mm:ss')%></span>\
            </div>\
            <div class="map_item">\
              <label>ACC：</label>\
              <span><%if(monitor[0].acc == "-1"){%>关闭<%}else{%>开启<%}%></span>\
            </div>\
            <div class="map_link">\
              <a target="_blank" href="/vehicles/trace/<%-deviceId%>">跟踪</a>\
              <a target="_blank" href="/vehicles/history/<%-deviceId%>?time=<%-monitor[0].gps_time%>">回放</a>\
            </div>\
          </div>';


        var infoWindow = new BMap.InfoWindow(sContent);

        car.openInfoWindow(infoWindow);

        car.addEventListener("click", function(){
            this.openInfoWindow(infoWindow);
        });

    }
    init();

</script>
<script type="text/javascript" src="/scripts/lib/jquery.js?v=20170908161840"></script>
<script type="text/javascript">

    var hoverTimer, outTimer;

    function showHelpInfo (event) {

        var pos_top = $(event.target).offset().top + 20;

        var pos_left = $(event.target).offset().left + 10 ;

        clearTimeout(outTimer);

        hoverTimer = setTimeout(function(){

            $('.help_info').css?v=20170908161840({'left':pos_left,'top':pos_top}).addClass('active');

        },200)

    }



    function hideHelpInfo (event) {

        clearTimeout(hoverTimer);

        outTimer = setTimeout(function() {

            $('.help_info').removeClass('active');

        },200)

    }
    !function(){

        $('.popup_mask,.js_confirm').click(function(){

            $('.popup_mask').removeClass('active');

            $('#popup').removeClass('active');

            $('body').removeClass('overflow');
        })
    }();
</script>

<script type="text/javascript" src="/scripts/vehicles/map/index.js?v=20170908161840"></script>
</body>
</html>


