<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>用户详情</title>
    <link rel="stylesheet" href="/styles/borrowers/vehicle/add.css"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
</head>
<body>
<%include ../../common/header.ejs%>
<div class="container clearfix">
    <% include ../../common/aside_menu.ejs %>
    <div class="right-container fr">
        <div class="navigation">
            <a href="/" class="home_ico"></a>
            <em class="navigation_ico"></em>

            <a href="/borrowers" class="navigation_link">借款人列表</a>

            <em class="navigation_ico"></em>

            <a href="/borrowers/<%-detailId%>" class="navigation_link">用户详情</a>

            <em class="navigation_ico"></em>
            <span>新增车辆</span>

        </div>
        <div class="content">
            <div class="cont-title">
                <i></i>
                <span>新增车辆</span>
            </div>
            <div class="vehicle_cont">
               <div class="vehicle_wraper clearfix">
                  <div class="vehicle_item">
                    <label>车辆类型</label>
                      <div class="drop_menu drop_menu_car">
                          <span class="active js_select" data-value="" id="vehicleType">请选择车辆类型</span>
                          <ul class="drop_menu_list">
                          <% carType.forEach(function(item){%>
                            <li data-value="<%-item.value%>">
                                <a href="javascript:;"><%-item.name%></a>

                            </li>
                          <%})%>

                          </ul>
                      </div>
                  </div>
                   <div class="vehicle_item">
                       <label>品牌类型</label>
                       <input type="text" class="user-ui-input vehicle-ui-input user-disable" readonly="readonly" id="js_brand" placeholder="点击选择品牌型号"/>
                   </div>
               </div>
                <div class="vehicle_wraper clearfix">
                    <div class="vehicle_item">
                        <label>车牌号</label>
                        <input type="text" class="user-ui-input vehicle-ui-input" id="license" placeholder="沪A12345"/>
                    </div>
                    <div class="vehicle_item">
                        <label>车架号</label>
                        <input type="text" class="user-ui-input vehicle-ui-input" id="vin" placeholder="17位唯一车架号"/>
                    </div>
                </div>
                <div class="vehicle_wraper clearfix">
                    <div class="vehicle_item">
                        <label>发动机号</label>
                        <input type="text" class="user-ui-input vehicle-ui-input" id="engine" placeholder="发动机号"/>
                    </div>
                    <div class="vehicle_item vehicle-ui-ico">
                        <label>出厂日期</label>
                        <input type="text" class="user-ui-input vehicle-ui-input" id="madeTime" placeholder="出厂日期"/>
                        <i class="user-ui-input-txt"> &nbsp;</i>
                    </div>
                </div>
                <div class="vehicle_wraper clearfix">
                    <div class="vehicle_item">
                        <label>颜色</label>
                        <div class="drop_menu drop_menu_color">
                            <span class="active js_select" id="vehicleColor" data-value="">请选择颜色</span>
                            <ul class="drop_menu_list">
                                <% colorList.forEach(function(item){%>

                                  <li data-value="<%-item.value%>">
                                      <a href="javascript:;"><%-item.name%></a>
                                      <span style="background:<%-item.color%>"></span>
                                  </li>
                                <%})%>
                            </ul>
                        </div>
                    </div>
                    <div class="vehicle_item">
                        <label>排量</label>
                        <input type="text" class="user-ui-input vehicle-ui-input" id="volume" placeholder="排量"/>
                        <i class="user-ui-input-txt">L</i>
                    </div>
                </div>
                <div class="vehicle_wraper clearfix">
                  <div class="vehicle_item">
                     <label id="shiftingType" data-value="<%-shiftingType[0].value%>">变速</label>

                      <%shiftingType.forEach(function(item,index){%>
                        <strong class="shiftingType <%if(index==0){%>active<%}%>" data-value="<%-item.value%>">手动</strong>
                      <%})%>
                  </div>
                  <div class="vehicle_item">
                    <label id="driverType" data-value="<%-driverType[0].value%>">驱动类型</label>
                    <% driverType.forEach(function(item,index){%>
                      <strong class="driverType <%if(index==0){%>active<%}%>" data-value="<%-item.value%>">两驱</strong>
                    <%})%>
                  </div>
                </div>
                <div class="modify-button clearfix">
                    <button class="btn_confirm js_submit">确认</button>
                    <button class="btn_cancel js_cancel">放弃</button>
                </div>
            </div>
        </div>
        <% include ../../common/footer.ejs %>
    </div>
</div>
<div class="popup_wraper" id="carPopup">
    <div class="popup_title">
        <h4>选择品牌车型</h4>
    </div>
    <div class="carPopup">
       <div class="carPopup_nav">
         <ul class="carNav_list">
             <li v-for="(item,index) in letterNav"><a href="javascript:;">{{item}}</a></li>
         </ul>
       </div>

      <div class="carPopup_item">
          <h4>请选择车辆品牌</h4>
        <div class="carList_wraper" id="brandList">
            <dl v-for="(item,index) in brandList" class="carList" :id="'letter-'item.initial">
                <dt><a href="javascript:;">{{item.initial}}</a></dt>
                <dd v-for="(child,cIndex) in item.results" :class="{'active':index==0 && cIndex==0}"><a href="javascript:;">{{child.name}}</a></dd>
            </dl>
        </div>
      </div>
      <div class="carPopup_item">
        <h4>请选择车辆系列</h4>
        <div class="carList_wraper" id="carType">
        </div>
      </div>
      <div class="carPopup_item">
        <h4>请选择车辆型号</h4>
        <div class="carList_wraper" id="carModel">
        </div>
      </div>
    </div>

    <input type="hidden" id="detailId" value="<%-detailId%>">
    <div class="popup_submit clearfix">
        <button class="btn_confirm js_confirm">确定</button>
        <button class="btn_cancel js_cancel">取消</button>
    </div>
</div>
<div class="popup_mask"></div>

<div class="ui-calendar" id="calendar"></div>
<script type="text/javascript" src="/dist/scripts/borrowers/vehicle/add.js"></script>
</body>
</html>

