<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <meta charset="utf-8">
    <title>用户详情</title>
    <link rel="stylesheet" href="/styles/borrowers/vehicle/add.css?v=20170908112007"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
</head>
<body>
<%include ../../common/header.ejs%>
<div class="container clearfix">
    <% include ../../common/aside_menu.ejs %>
    <div class="right-container fr">
        <div class="navigation">
            <a href="/" class="home_ico"></a>
            <em class="navigation_ico"></em>

            <a href="/borrowers" class="navigation_link">借款人列表</a>

            <em class="navigation_ico"></em>

            <a href="/borrowers/<%-detailId%>" class="navigation_link">用户详情</a>

            <em class="navigation_ico"></em>
            <span>新增车辆</span>

        </div>
        <div class="content" id="app">
            <div class="cont-title">
                <i></i>
                <span>新增车辆</span>
            </div>
            <div class="vehicle_cont">
               <div class="vehicle_wraper clearfix">
                  <div class="vehicle_item">
                    <label>车辆类型</label>
                      <div class="drop_menu drop_menu_car" :class="{'active':dropMenu == 1}">
                          <span @click.stop="selectMenu(1)">{{carTypeStatus}}</span>
                          <ul class="drop_menu_list">
                          <% carType.forEach(function(item){%>
                            <li @click="checkValue('type',<%-item.value%>)">
                                <a href="javascript:;"><%-item.name%></a>
                            </li>
                          <%})%>

                          </ul>
                      </div>
                  </div>
                   <div class="vehicle_item">
                       <label>品牌类型</label>
                       <input type="text" class="user-ui-input vehicle-ui-input user-disable" readonly="readonly" v-model="formData.car_name" @click="showPopup" placeholder="点击选择品牌型号"/>
                   </div>
               </div>
                <div class="vehicle_wraper clearfix">
                    <div class="vehicle_item">
                        <label>车牌号</label>
                        <input type="text" class="user-ui-input vehicle-ui-input" v-model="formData.plate_number" placeholder="沪A12345"/>
                    </div>
                    <div class="vehicle_item">
                        <label>车架号</label>
                        <input type="text" class="user-ui-input vehicle-ui-input" v-model="formData.vin" placeholder="17位唯一车架号"/>
                    </div>
                </div>
                <div class="vehicle_wraper clearfix">
                    <div class="vehicle_item">
                        <label>发动机号</label>
                        <input type="text" class="user-ui-input vehicle-ui-input" v-model="formData.engine_number" placeholder="发动机号"/>
                    </div>
                    <div class="vehicle_item vehicle-ui-ico">
                        <label>出厂日期</label>
                        <input type="text" class="user-ui-input vehicle-ui-input" v-model="formData.production_day" readonly="readonly" id="madeTime" placeholder="出厂日期"/>
                        <i class="user-ui-input-txt"> &nbsp;</i>
                    </div>
                </div>
                <div class="vehicle_wraper clearfix">
                    <div class="vehicle_item">
                        <label>颜色</label>
                        <div class="drop_menu drop_menu_color" :class="{'active':dropMenu == 2}">
                            <span @click.stop="selectMenu(2)">{{colorType}}</span>
                            <ul class="drop_menu_list">
                                <% colorList.forEach(function(item){%>
                                  <li @click="checkValue('color',<%-item.value%>)">
                                      <a href="javascript:;"><%-item.name%></a>
                                      <span style="background:<%-item.color%>"></span>
                                  </li>
                                <%})%>
                            </ul>
                        </div>
                    </div>
                    <div class="vehicle_item">
                        <label>排量</label>
                        <input type="text" class="user-ui-input vehicle-ui-input" v-model="formData.displacement" placeholder="排量"/>
                        <i class="user-ui-input-txt">L</i>
                    </div>
                </div>
                <div class="vehicle_wraper clearfix">
                  <div class="vehicle_item">
                     <label>变速</label>
                      <%shiftingType.forEach(function(item,index){%>
                        <strong class="shiftingType" @click="checkValue('shifting',<%-item.value%>)" :class="{'active':formData.shifting == <%-item.value%>}">手动</strong>
                      <%})%>
                  </div>
                  <div class="vehicle_item">
                    <label>驱动类型</label>
                    <% driverType.forEach(function(item,index){%>
                      <strong class="driverType" @click="checkValue('driver_type',<%-item.value%>)" :class="{'active':formData.driver_type == <%-item.value%>}">两驱</strong>
                    <%})%>
                  </div>
                </div>
                <div class="modify-button clearfix">
                    <button class="btn_confirm" @click="submitVehicles('<%-detailId%>')">确认</button>
                    <button class="btn_cancel" @click="cancelVehicles('<%-detailId%>')">放弃</button>
                </div>
            </div>
        </div>
        <% include ../../common/footer.ejs %>
    </div>
</div>
<div class="popup_wraper" id="carPopup">
    <div class="popup_title">
        <h4>选择品牌车型</h4>
    </div>
    <div class="carPopup">
       <div class="carPopup_nav">
         <ul class="carNav_list">
             <li v-for="(item,index) in letterNav" @click="showLetterNav(item)"><a href="javascript:;">{{item}}</a></li>
         </ul>
       </div>

      <div class="carPopup_item">
          <h4>请选择车辆品牌</h4>
        <div class="carList_wraper" id="carBrand">
            <dl v-for="(item,index) in brandList" class="carList" :id="'letter-' + item.initial">
                <dt><a href="javascript:;">{{item.initial}}</a></dt>
                <dd v-for="(child,cIndex) in item.results" :class="{'active':index==0 && cIndex==0}" @click="selectBrand($event,child)"><a href="javascript:;">{{child.name}}</a></dd>
            </dl>
        </div>
      </div>
      <div class="carPopup_item">
        <h4>请选择车辆系列</h4>
        <div class="carList_wraper" id="carType">
            <dl class="carList" v-for="(item,index) in typeList">
                <dt><a href="javascript:;">{{item.group_name}}</a></dt>
                <dd v-for="(child,cIndex) in item.results" @click="selectType($event,child)" :class="{'active':index==0 && cIndex==0}">
                    <a href="javascript:;">{{child.name}}</a>
                </dd>
            </dl>
        </div>
      </div>
      <div class="carPopup_item">
        <h4>请选择车辆型号</h4>
        <div class="carList_wraper" id="carModel">
            <dl class="carList" v-for="(item,index) in modelList">
                <dt><a href="javascript:;">{{item.year}} 款</a></dt>
                <dd v-for="(child,cIndex) in item.results" @click="selectModel($event,child)":class="{'active':index==0 && cIndex==0}">
                    <a href="javascript:;">{{child.name}}</a>
                </dd>
            </dl>
        </div>
      </div>
    </div>
    <div class="popup_submit clearfix">
        <button class="btn_confirm" @click="saveCar">确定</button>
        <button class="btn_cancel" @click="hidePopup">取消</button>
    </div>
</div>
<div class="popup_mask" @click="hidePopup"></div>

<div class="ui-calendar" id="calendar"></div>
<script type="text/javascript" src="/dist/scripts/borrowers/vehicle/add.js?v=20170908112007"></script>
</body>
</html>

